{%extends 'admin/home.html'%}
{%load static%}
{%block nav%}
<style>

td{
  color: black;
  font-size: large;
}
th{
  font-size: large;
}
</style>
<head>
  <link rel="stylesheet" href="{%static 'css/quizes.css'%}">
</head>
<body>

    <div class="card container" style="width: 80%;">
        <div class="card-body">
            <div>
                <h5 class="card-title" style="float:left">Quizes</h5>
                <form action="" style="display: flex;float: right;" method="post">
                  {%csrf_token%}
                  <input type="number" name="num_questions" style="width: 50%;" class="form-control" id="" placeholder="No.of Questions" required>
                <button type="submit" style="margin-left: 10px;" class="btn btn-success">Add Quiz</button>
                </form>
                
            </div>
        </div>
      </div>
      <div style="height: 80%; overflow: auto;">
  
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th >SNO</th>
            <th>Title</th>
            <th>Questions</th>
            <th>Attended</th>
            <th>Action</th>
            
        </tr>
        </thead>
        <tbody>
          
          {% for quiz in quizes %}
        <tr>
         
            <td><h5>{{forloop.counter}}</h5></td>
            <td><h5>{{quiz.title | upper}}</h5></td>
            <td><h5>{{quiz.num_q}}</h5></td>
            <td><h5>
              {%if quiz.res%}
              {{quiz.res}}
              {%else%}
              0
              {%endif%}
            </h5></td>
            <td>
              <a href="/a/quiz/edit/{{quiz.id}}" class="btn btn-success">Edit</a>
              <a href="/a/quiz/delete/{{quiz.id}}" class="btn btn-danger">Delete</a>
              <a href="/a/quiz/result/{{quiz.id}}" class="btn btn-warning">Results</a>
            </td>
            {% empty %}
        <td>No Quizzes available.</td>
      </tr>
        {% endfor %}
       
        
        
        <tbody>
    </table>
</div>
      
</div>     
  <canvas id="demo-canvas" ></canvas>



    <script>
    $("#quizes").addClass("active");

    </script>
</body>
{%endblock%}